


/* Header */

.header {
     width: 100%;

     position: relative;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;

     background-color: #fff;
     box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.05)
}

.header__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-height: 80px;
}

.header__logo {
     margin-right: 15px;
     font-size: 24px;
     font-weight: 700;
     color: #000;
     line-height: 28px;
}

/* Menu */

.menu {
     display: flex;
     align-items: center;
}

.menu-search__input {
     background: url(../images/menu/search.svg) 18px center no-repeat;

     min-width: 216px;

     font-size: 16px;
     font-weight: 400;
     color: #000;
     line-height: 1;

     border: 1px solid #000;
     border-radius: 43px;
     padding: 8px 0 8px 41px;
}

.menu-basket {
     background: url(../images/menu/basket.svg) 21.78px 7px no-repeat;
     display: flex;
     position: relative;

     font-size: 18px;
     font-weight: 700;
     color: #000;

     border: 1px solid #000;
     border-radius: 43px;

     margin: 0 0 0 23px;
     cursor: pointer;
}

.menu-basket__badge {
     display: inline-block;

     position: absolute;
     left: 30.2px;
     top: 20px;

     min-width: 10px;
     height: 18px;

     border-radius: 10px;
     padding: 2px 7px 14px;

     font-size: 14px;
     font-weight: 700;
     line-height: 1;
     color: #fff;

     vertical-align: baseline;
     white-space: nowrap;

     background-color: #3588E9;
}

.menu-basket__amount {
     padding: 13px 22px 12px 57px;
     line-height: 1;
}

.menu-leng {
     position: relative;
     padding: 0 14px 0 33px;

     cursor: pointer;
}

.menu-leng__choice {
     font-size: 16px;
     font-weight: 700;
     color: #000;
}

.menu-leng__choice::after {
     content: "";
     display: block;

     width: 7px;
     height: 7px;

     border-top: 1.2px solid #000;
     border-right: 1.2px solid #000;

     position: absolute;
     top: 50%;
     right: 0;
     z-index: 1;

     transform: translateY(-50%) rotate(135deg);
     transition: 2s;
}

