/*==========  Desktop First Method  ==========*/

@media only screen and (max-width: 1550px) {
  .item-card {
    flex-basis: calc(33.3333% - 30px);
    max-width: 377px;
  }

}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 950px) {
  .header {
    position: fixed;
  }

  .container {
    padding: 0 30px;
  }

  .cards {
    margin: 110px -15px 0;
  }

  .item-card {
    flex-basis: calc(50% - 30px);
    margin: 30px auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 700px) {


  .header__inner {
    min-height: 60px;
  }

  /* Menu */
  .menu-search__input {
    display: none;
  }

  .menu-leng {
    display: none;
  }

  .item-card {
    flex-basis: calc(100% - 30px);
    max-width: 377px;
    margin: 15px auto;
  }

  .cards {
    margin: 80px -15px 0;
  }

  /* Slider */
  .slider {
    flex-wrap: wrap;
  }

  .slider-dots--mb__none {
    display: none;
  }



  .slider-miniature {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    order: 2;
  }

  .slider-miniature--mb__none {
    display: none;
  }

  .slider-miniature__block {
    margin: 10px;
  }



}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 490px) {
  .container {
    padding: 0 15px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}