#shopping table {
     text-align: center;
     
     padding-top: 10px;
     padding-left: 20px;
     font-size: 13px;
     color: black;
     margin: 20px auto;
     border-collapse: collapse;
}

#shopping table > td, th {
     padding: 0px;
}

.shopping-head__first{
     padding-right: 10px;
}

.shopping-container{
     width: 100%;
     height: 100%;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin: 0px auto;   
     background-color: white;
     z-index: 1000;
}

.shopping__background{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0,0,0,.5);
     position: fixed;
     z-index: 1000;
}

.shopping__header{
     padding: 5px;
     padding-bottom: 0;
     font-size: 15px;
}

.shopping__close{
     position: absolute;
     width: 20px;
     height: 20px;
     top: 10px;
     right: 20px;
     background-image: url(./Shopping-img/button_close.svg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     cursor: pointer;
}

.shopping-element__name{
     padding: 8px;
     font-weight: bold;
}

.shopping-element__price{
     padding: 15px;
     color: black;
}

.shopping-footer__name{
     text-align:right;
     padding: 8px;
     font-weight: bold;
}

.shopping-footer__sumPrice{
     text-align: right;
}

.shopping-footer__buy-btn{
     position: absolute;
     bottom: 0;
     z-index: 1;

     width: 100%;
     padding: 14px 0;

     font-size: 16px;
     font-weight: 700;
     line-height: 1.1;
     color: #fff;

     text-align: center;
     text-transform: initial;

     border-radius: 2px;

     background-color: #3588E9;

     cursor: pointer;

     transition: background .5s linear;
     
     border: #3588E9;
}

.shopping-footer__buy-btn:hover {
     background: #1966C1;
}

@media only screen and (max-width: 1550px) and (min-width: 1200px)  {
     .shopping-container {
          top: 50%;
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }

     #shopping table {
          font-size: 18px;
     }

     #shopping table > td, th {
          padding: 0 50px;
     }   

     .shopping__close{
          width: 35px;
          height: 35px;
          top: 10px;
          right: 2%;
     }
     .shopping-container{
          width: 50%;
     }
} 

@media only screen and (max-width: 1200px) and (min-width: 950px)  { 
     .shopping-container {
          height: 58%;
          top: 50%;
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }

     #shopping table {
          font-size: 16px;
     }

     #shopping table > td, th {
          padding: 0 40px;
     }   

     .shopping__close{
          width: 35px;
          height: 35px;
          top: 10px;
          right: 2%;
     }
     .shopping-container{
          width: 50%;
     }
}

@media only screen and (max-width: 950px) and (min-width: 700px) {
     .shopping-container {
          height: 58%;
          top: 50%;
          bottom: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
     }

     #shopping table {
          font-size: 16px;
     }

     #shopping table > td, th {
          padding: 0 20px;
     }    

     .shopping__close{
          width: 35px;
          height: 35px;
          top: 10px;
          right: 2%;
     }

     .shopping-container{
          width: 50%;
     }
}

@media only screen and (max-width: 700px) and (min-width: 490px) {
     .shopping-container {
          height: 58%;
          top: 50%;
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }

     #shopping table {
          padding-top: 20px;
          font-size: 16px;
     }

     .shopping__close{
          width: 30px;
          height: 30px;
          top: 10px;
          right: 4%;
     }

     .shopping-container{
          width: 60%;
     }
}


