:root{
     --color-unaccented: #464d55;
     --color-white: #E5E5E5;
     --color-blue: #0b09aa;
}

*, ::before, ::after {
     box-sizing: border-box;
}

/** Scroll bar */

*{
     scrollbar-color: var(--color-blue) var(--color-unaccented);
     scrollbar-width: thin;
}

::-webkit-scrollbar{
     width: 10px;
     height: 8px;
}

::-webkit-scrollbar-thumb{
     background-color: var(--color-blue);
     border-radius: 4px;
}
::-webkit-scrollbar-track{
     background-color: var(--color-unaccented);
}

:global(.mb__none) {
     display: none;
}

:global(.mb__none) {
     display: none;
}

body {
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;

     font-size: 16px;
     line-height: 1.7;
     color: #000;

     background-color: var(--color-white);
}
:global(.img-contain){
     height: auto;
     object-fit: contain;
     object-position: center;
}

:global(.img-cover){
     height: auto;
     object-fit: cover;
     object-position: center;
}

:global(.btn) {
     padding: 0;
     border: none;
     outline: none;
     font: inherit;
     color: inherit;
     cursor: pointer;
}

:global(.hide) {
     display: none;
}