// main: ../style.less


.container__classes {
    display: flex;
    justify-content: space-between;

    align-items: flex-start;
    padding-top: 20px;

    background: #fff;
    position: relative;

    @media @tablet {
        align-items: flex-end;

    }

    @media @mobile {
        flex-wrap: wrap;
    }
}

.classes__photo {
    max-width: 100%;
    height: auto;

    display: block;

    position: absolute;
    right: -232px;
    bottom: -800px;
    z-index: 1;

    @media @notebook {
        bottom: -700px;
    }

    @media @tablet {
        bottom: -660px;
    }

    @media @mobile {
        display: none;
    }
}

.classes {
    margin-bottom: 848px;

    @media @notebook {
        margin-bottom: 0;
    }
}

.classes__content {
    width: 48.4%;

    @media @tablet {
        width: 100%;
    }

    @media @mobile {
        text-align: center;
        margin: 40px auto 0;
    }
}

.classes-select {
    display: flex;

    justify-content: space-around;
    width: 300px;
    margin-bottom: 40px;
}

.classes-select__category {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-decoration: none;

    &::after {
        content: "";
        display: block;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 3px;

        transition: width 0.2s linear;
        background-color: #F92524;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }



}