.error__container{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100vh;
}

.error__message{
     min-width: 350px;
     padding: 20px 40px;
     text-align: center;
     background-color:#5baac5;;
}