body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*---- header---- */
.fixed.header {
  position: fixed;
}

.bgColor.header__inner {
  background-color: #8661aa82;
  box-shadow: 0 0 5px 5px #8661aa82;
}

.container__header {
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 65px 10px 65px;
  border-bottom: 1px solid #fff;
}

.header__logo {
  display: flex;
  align-items: baseline;
}

.header__text {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 5px 0 5px;
}

/* nav */

.nav {
  display: flex;
  text-transform: uppercase;
  font-size: 24px;
}

.nav__contact {
  position: relative;
  padding-right: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav__contact::after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  position: absolute;
  top: 49%;
  right: -11px;
  z-index: 1;
  transform: rotate(90deg);
  background-color: #5e5e5e;
}

.nav__menu {
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px 0 20px;
}

.header__wraper-navlist {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.nav__list {
  display: flex;
  flex-direction: column;
  background-color: #ed322d96;
  box-shadow: 6.4px 8.9px 4px 0px #3d044478;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
  transform: translateX(200%);
  border: 2.5px solid #ed322d;
  transition: transform 0.3s linear;
}

.show.nav__list {
  transform: rotate(0) translateX(0);
  transition: transform 0.3s linear;
}

.nav__link {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
}

.nav__link:hover {
  border-bottom: 1px solid #fff;
  transition: border 0.5s;
}

/* nav__toggle */

.nav__toggle {
  background: url("../img/header/icon_close.svg") no-repeat;

  background-position: center;
  display: block;
  width: 28px;
  /* обнуление стилей кнопки */
  font-size: 0;
  color: transparent;
  border: 0;

  outline: 0;
  /* все границы обнуление */
  cursor: pointer;
  position: relative;
}

.active.nav__toggle {
  background: url("../img/header/menu.svg") no-repeat;
  background-position: center;
}

/* intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 900px;
  position: relative;

  background: url("../img/header/Anveshan_01.jpg") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 810px;
  margin: 360px auto 560px;

  text-align: center;
  color: #ffffff;
}

.intro__titleFirst {
  font-size: 73px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  padding-right: 20px;
  text-transform: uppercase;
}

.intro__titleMiddle {
  line-height: 1;
  font-size: 73px;
  color: #ed322d;
  text-transform: uppercase;
}

.intro__titleSecond {
  font-size: 20px;
  color: #9a939d;
  font-weight: 100;
  max-width: 480px;
  margin: 35px auto;
}

/* slider */

.slider {
  width: 50px;
  height: 50px;

  position: absolute;
  bottom: 3%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 1;
  display: block;
  text-align: center;

  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;

  border: none;
  background: none;
  cursor: pointer;
}

/* ----- graph ------*/

.graph {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  height: auto;
}

.graph__item {
  width: 50%;
  position: relative;
}

.graph__img {
  display: block;
  width: 100%;
  height: 100%;
}

/* commit */

.commit {
  position: absolute;
  top: 22.4%;
  left: 27.8%;
  z-index: 1;
  padding-left: 155px;
}

.commit__text {
  position: relative;
  max-width: 234px;
}

.commit__img {
  position: absolute;

  display: block;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1;
}

.commit__title {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
}

.commit__text {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

/* graph__item--left */

.graph__item--left {
  background-color: #f8f8f8;
  padding: 100px 127px 76px 100px;
  background: none;
}

.graph__title span {
  color: #ed322d;
}

.graph__title {
  max-width: 487px;
  padding-bottom: 40px;

  font-size: 72px;
  font-weight: bold;
  color: #404040;
  text-transform: uppercase;
  line-height: 1;
}

.graph__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-top: 30px;
  background-color: #bebebe;
}

.graph__text {
  max-width: 700px;
  padding-bottom: 40px;

  font-size: 17px;
  font-weight: 300;
}

.graph__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: #bebebe;
}

/* graph__bottom */

.graph__bottom {
  display: flex;
  align-items: center;
}

.graph__bottomImg {
  min-width: 150px;
  width: 100%;
  height: auto;
}

.graph__bottomText {
  max-width: 500px;
  padding-left: 25px;

  font-size: 17px;
  font-weight: 300;
}

/*--- section ---*/
.section__services {
  width: 100%;
  background: url("../img/Services/bg__Services.jpg") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}

.section__nextStep {
  width: 100%;
  background: url("../img/NextStep/bg__NextStep_02.jpg") center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}

.section__header {
  text-align: center;
  padding: 150px 0 60px 0;
  position: relative;
}

.section__title {
  text-transform: uppercase;
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  color: #404040;
}

.section__title:after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;

  background-color: #bebebe;

  margin: 25px auto;
}

.section__text {
  font-size: 24px;
  font-weight: 200;
  color: #5d5d5d;
  max-width: 1150px;
}

/* pocess */

.pocess {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.pocess__text {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.pocess__one {
  text-transform: uppercase;
  color: #fff;

  max-width: 198px;
  padding: 90px 45px;

  background: url("../img/OurProcess/1.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

.pocess__two {
  max-width: 354px;
  margin-left: -20px;
  padding: 159px 100px;

  background: url("../img/OurProcess/2.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

.pocess__three {
  max-width: 407px;
  margin-left: -45px;
  padding: 185px 150px;

  background: url("../img/OurProcess/3.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

.pocess__four {
  margin-left: -25px;
  max-width: 190px;
  padding: 85px 35px;

  background: url("../img/OurProcess/4.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

/* descript */

.descript {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 146px;
}

.descript__pocess {
  width: 25%;
  max-width: 263px;
  padding: 0 15px;
}

.descript__header {
  font-size: 15px;

  font-weight: bold;
  margin-bottom: 23px;
  color: #5d5d5d;
  text-transform: uppercase;
}

.descript__text {
  font-size: 15px;
  font-weight: 400;
  color: #8f8f8f;
}

/* services */

.container__services {
  width: 100%;
  max-width: 1800px;
  padding: 0 15px 150px 15px;
  margin: 0 auto;
  text-align: center;
}

.container__title {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.container__title span {
  color: #ed322d;
}

.container__title:after {
  content: "";
  display: block;
  width: 33px;
  height: 1px;

  background-color: #bebebe;

  margin: 30px auto;
}

.container__text {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
}

/* SERVICES */
.services__title {
  color: #fff;
  padding-left: 95px;
}
.services__title > span {
  color: #ed322d;
}
.services__title.section__title::after {
  left: -48px;
  position: relative;
  background-color: #464646;
}
.services__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services__leftBlock {
  background-color: #802c64;
  min-width: 150px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.services__leftBlock img {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.services__rightBlock {
  width: 100%;
  background-color: #7a225d;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.services__item {
  display: flex;
  width: 33.33333%;
}

.services__item-header {
  font-size: 25px;
  font-weight: 500;
  color: #eaafd6;
}

.services__text {
  max-width: 300px;
  font-size: 16px;
  font-weight: 300;
  color: #c39fb7;
}

.services__leftBlock--twoRow {
  background-color: #500c50;
}

.services__rightBlock--twoRow {
  background-color: #480048;
}

.services__leftBlock--threeRow {
  background-color: #3a0c3a;
}

.services__rightBlock--threeRow {
  background-color: #300030;
}

/*NEXTSTEP*/
.logo__symbol {
  position: absolute;
  display: block;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.nextStep__text-head {
  color: #000;
  font-weight: 400;
}

.nextStep__red {
  color: #fff;
}

/* contact_form */
.container__formWraper {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 75px;
  max-height: 630px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
}

.contact_form {
  width: 100%;
  margin: 0 auto;
}

.contact_form ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0 auto;
}

.contact_form li {
  /* каждая строка  */
  max-width: 500px;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #eee;
  position: relative;
  margin: 45px auto 0;
}

.contact_form label {
  /* название строки*/
  width: 80px;
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
  color: #8e8e8e;
}

.contact_form input {
  /*в нутри поля */
  font-size: 12px;
  font-weight: 100;
  height: 20px;
  width: 320px;
  padding: 5px 5px;
}

.contact_form textarea {
  padding: 0;
  width: 320px;
}

.contact_form input:focus,
.contact_form textarea:focus {
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #555;
  box-shadow: 0 0 3px #aaa;
}

.contact_form input,
.contact_form textarea {
  -moz-transition: padding 0.25s;
  -webkit-transition: padding 0.25s;
  -o-transition: padding 0.25s;
  transition: padding opacity 0.25s;
}

.contact_form input,
.contact_form textarea {
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 5px;
}

.contact_form li:last-child {
  border-bottom: none;
}

/* Button Staly */

.contact_form .submit {
  background-color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #878787;
  padding: 22px 0 22px;
  width: 100%;
  max-width: 249px;
  cursor: pointer;

  margin-top: 80px;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

/* footer */

.footer__wrapper {
  background-color: #fff;
  max-width: 250px;
  width: 100%;
  margin: 0 auto 75px;
}

.footer__icon {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.footer__icon img {
  display: block;
  cursor: pointer;
}

.footer__text {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #969696;
}

.footer__text span {
  padding-top: 20px;
  display: block;
}

.footer__designed {
  font-size: 17px;
  font-weight: 600;
  color: #969696;
  padding-top: 60px;
  text-align: center;
}

.footer__designed span {
  color: #db2e2e;
  text-transform: uppercase;
}
